*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display: grid;
    min-height: 100vh;
    font-size: 3rem;
    place-content: center;
}

h1,p{
    text-align: center;
}